@import "colors";

.App {
  text-align: center;
}

.App-header {
  background-color: $darkBlue;
  height: 500px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.tech-details {
  background-color: $middleBlueGreen;
  padding: 20px;
  color: white;
}

.about-me {
  padding-bottom: 50px;
  padding-top: 40px;

  margin-left: 25%;
  margin-right: 25%;
}
.about-me > p {
  font-size: 1.3em;
  text-align: justify;
}

.about-me > p > a{
  text-decoration: none;
  box-shadow: inset 0 0px 0 white, inset 0 -10px 0 lighten($middleLightGreen, 8);
  color: inherit;
}

.about-me > p > a:hover{
  text-decoration: none;
  box-shadow: inset 0 0px 0 white, inset 0 -10px 0 $middleLightGreen;
  color: inherit;
}

.contact-icon{
  font-size: 4em;
  color: $darkBlue;
  text-decoration: none;
}
